<!DOCTYPE html>
<html>
  <head>
    <title>RailsApi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
      <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Home" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      

      <div class="navbar-end">
        <!-- navbar items -->
        <% if @current_user %>
          <a class="navbar-item button" href="/posts">
            Posts
          </a>
          <a class="navbar-item button" href="/posts/new">
            Add new
          </a>
          <a class="navbar-item button" href="/users">
            Users
          </a>
          <%=link_to("LogOut", "/logout", {method: "post", class: "navbar-item button"})%>
        <%else %>
          <a class="navbar-item button" href="/signup">
            Signup
          </a>
          <a class="navbar-item button" href="/login">
            Login
          </a>
          <a class="navbar-item button" href="/about">
            About
          </a>
        <% end %>
      </div>
      
    </nav>
    

      <%= flash[:notice] %>

    
    <%= yield %>
  </body>
</html>
